body {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

.container {
    background-image: url(images_bk/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:aqua;
    font-family: 'Times New Roman', Times, serif;
    text-align: none;
}

